
.vs/ProjectSettings.json
.vs/repozytorium/v16/.suo
.vs/repozytorium/v16/Browse.VC.db
.vs/repozytorium/v16/ipch/AutoPCH/7d1fc5f7c1c65be8/KALKULATOR_PROJEKT.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Sprawozdanie 3/image_links.txt
